@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* GENERAL SETTINGS*************************************** */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
 }
 
 html {
    scroll-behavior: smooth;
 }
 

 
 
 p {
    line-height: 1.5;
    font-size: 14px;
    
   }


   /* watch this line */

   /* ****************************this animates and underlines the "a" frame.  I disable it because it was making "Treact" underline as well.  I put the psuedo effect on nav__link instead. */

/* a {
      text-decoration: none;
      position:relative;
   }
   
   a:hover {
      transition-property: text;
      position: relative;
   text-underline-offset: 5px;
   color: #7342d6;
   }

   a::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #7342d6;
      transform: scale(0);
      transition: transform 400ms ease;
    }

   a::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #7342d6;
      transform: scale(0);
      transition: transform 300ms ease;
    }

    a:hover::before {
      transform: scale(1);
    } */

.nav__link {
      text-decoration: none;
      position:relative;
   }
   
   .nav__link:hover {
      transition-property: text;
      position: relative;
   text-underline-offset: 5px;
   color: #6415FF;
   }

   a::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #6415FF;
      transform: scale(0);
      transition: transform 400ms ease;
    }

   a::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #6415FF;
      transform: scale(0);
      transition: transform 300ms ease;
    }

    a:hover::before {
      transform: scale(1);
    }

   /* a.column__links:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #faf9fc;
      transform: scale(0);
      transition: transform 400ms ease;
    }

   a.column__link::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #f6f4f8;
      transform: scale(0);
      transition: transform 300ms ease;
    }

    a.column__link:hover::before {
      transform: scale(1);
    }

 */

   h1 {
      font-size:47px;
   }

   h2 {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
   }
   
h3 {
   font-size: 24px;
   font-weight: 900;
   letter-spacing: 1px;
   
}

h4 {
   font-size: 24px;
   font-weight: 500;
}

 img {
    max-width: 100%;
    height: auto;
   }
   
   
   .landing {
      display: flex;
      justify-content: center;
      align-items: center;
      
   }

   nav {
      height: 44px;
      display: flex;
   }
 
 .nav__container {
    width: 100%;
    max-width: 1325px;
    padding: 0px 24px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    max-height: 40px;
}

.nav__footer {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
 }
 
 ul {
    display: flex;
 }
 
 li {
    list-style-type: none;
 }

 .rw {
   max-width: 1400px;
 }
 
 .nav__link {
    margin-left: 12px;
    margin-right: 24px;
    text-decoration: none;
    font-size: 14px;
    color: rgba(32, 44, 85, 0.842);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 0 8px 0;
    

 }

 input {
   border: none;
   font-size: 16px;
   font-weight: bold;
   color: rgb(0, 0, 0);
   outline: none;
 }
 
/* LOGIN AND SIGN UP BUTTONS */

.nav__link--sign-up {
   height: 44px; 
   display: flex;
    align-items: center;
    padding-left: 48px;
}

/* NAV BUTTONS */

.nav__links {
    display: flex;
    align-items: center;
}


 .blue {
    color: rgb(100, 21, 255);
 }
 

 /* this underlines the nav link tag***************************************** */
 /* .nav__link:hover {
    text-decoration: undrline;
    text-underline-position: auto;
 } */
 
 .nav__link--primary {
    border: 2px slid #6415FF;
    border-radius: 4px;
 }
 
 .no-cursor {
    cursor: not-allowed;
 }
 
 .row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .nav__link--primary:hover {
    text-decoration: none;
 }
 
 .btn {
 height: 44px;
   background-color: rgb(100, 21, 255);
 border-radius: 24px;
display: block;
 font-size: 20px;
 padding: 12px 24px;
 text-align: center;
 border: none;
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 }

 .btn:hover {
   background-color: rgb(63, 16, 158);
   transition: all 300ms ease;
 }

 button {
    cursor: pointer;
 }
 
 .btn:active {
transform: color red ;
 }
 
 .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .menu__link {
    font-size: 40px;
    color: white;
 }


 /* burger menu************************************************************************
 
 */

 .btn__menu--brg {
   background-color: transparent;
   border: none;
   font-size: 32px;
   text-align: center;
   color: #6415FF;
   display: none;

 }

   .menu__backdrop {
      position: absolute;
      background-image: linear-gradient();
      top: 0;
      left: 0;
      right: 0;
      bottom: 200px;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: all 300ms ease;
      opacity: 0;
      visibility: hidden;
      background: rgba(255, 255, 255, 0.212);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 1%, rgba(255,255,255,1) 66%, rgba(239,227,246,1) 100%, rgba(192,166,208,0.1) 100%, rgba(174,212,190,1) 100%, rgba(99,33,140,0.1) 10%);
   }

   .menu--open .menu__backdrop {
      visibility: visible;
      opacity: 1;
      display: flex;
   }

   .btn__menu--brg-close {
      position: absolute;
      right: 20px;
      top: 10px;
      padding: 8px;
   }



   .menu__link--brg {
      color: black;
      text-decoration: none;
      font-weight: bold;
   }

   .menu__list {
      display: flex;
      flex-direction: column;
      padding: 32px 0;
   }
 
 
 /* NAVIGATION SECTION****************************************** */

 

#landing {

    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    animation: slide-right 1000ms 500ms;   
}

@keyframes slide-right {
   0% {
       
       transform: translateX(-1800px);
   }
   100% {
       
       transform: translateX(0)
   }
}

#header {
max-width: 800px;
}

.nav__links--wrapper {
   height: 44px;
}

.header__container {
   width: 100%;
   max-width: 1380px;
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo__title {
   padding-left: 10px;
}


.treact {
   color: rgba(32, 44, 85, 0.842);
}

.treact:hover {
   color: #6415FF;
   transition: all 300ms ease-in-out; 
}

.header__logo--wrapper {
   text-decoration: none;
    max-width: 100%;
    display: flex;
    align-items: center;
   }

   .logo__wrapper {
      text-decoration: none;
   }
   
   .header__description {
      display: flex;
      align-items: center;
      width: calc(100 / 2);
      padding: 0 45px;
   }

.header__get--started {
   max-width: 40%;
   padding-top: 65px;
}

.trusted__customers {
   font-size: 12px;
}

.home__office {
    height: 100%;
    padding-left: 20px;
   
}

.get__started--wrapper {
   padding: 4px 64px 0 0;
   max-width: 700px;
   width: 100%;
}

.get__started--button {
   width: 100%;
   padding: 8px 8px 8px 24px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    border-color: rgb(226, 226, 226);
}

.get__started--button:hover {
   border-color:#4e4a5575;
   transition: all 300ms ease-in-out;
}

.customer__strip {
   padding: 72px 72px 72px 0;
   opacity: 0.4; 
}

.customer__strip img {
   padding: 24px 0;
   width: 100%;
   box-sizing: border-box;
   display: flex;
}

.input {
   font-size: 80px;
}

.get__started--description {
   padding: 40px 0;
   font-size: 18px;
   letter-spacing: 0.5px;
}

.header__container--blob {
   height: 250px;
   width: 600px;
      pointer-events: none;
      position: abslute;
      left: -300px;
      bottom: 140px;
      z-index: 1;
      opacity: 0.05;
      position: absolute;
}

/* SERVICE HIGHLIGHTS*********************************** */

#service__highlights {
   display: flex;
   justify-content: center;
   text-align: center;
   line-height: 2;
   animation: slide-left 1000ms 500ms;
}

@keyframes slide-left {
   0% {
       
       transform: translateX(1800);
   }
   100% {
       
       transform: translateX(0)
      }
   }

      /* const observer = new IntersectionObserver(entries => {
         // Loop over the entries
         entries.forEach(entry => {
           // If the element is visible
           if (entry.isIntersecting) {
             // Add the animation class
             entry.target.classList.add('square-animation');
           }
         });
       });
       
       observer.observe(document.querySelector('.square')); */


.highlights__container {
   width: 100%;
   max-width: 1000px;
}

.highlight__wrapper {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.highlight {
   width: 100%;
   padding: 40px 8px;
   width: calc(100% / 3);
   display: flex;
   flex-wrap: wrap;
}

.section__title {
   font-weight: 900;
   font-size: 50px;
   color: rgba(32, 44, 85, 0.842);
}

.section__title--description {
   text-align: center;
   box-sizing: border-box;
   padding: 0 184px 80px 184px;
}

.highlight__para {
   justify-content: left;
   text-align: left;
   line-height: 2;
}

.highlight__img {
   border: 1px solid;
   color: rgba(0, 0, 0, 0.199);
   height: 72px;
   width: 72px;
   border-radius: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.highlight__description {
   max-width: 240px;
   padding-left: 24px;
   display: flex;
   flex-direction: column;
   align-items: start;
}

.quality__blob {
   height: 500px;
   width: 300px;
      pointer-events: none;
      position: abolute;
      right: -145px;
      top: 1350px;
      z-index: 1;
      opacity: 0.2;
      
}

/* QUALITY SECTION***************************************** */

#quality {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   padding-top: 160px;
   padding-bottom: 240px;
   animation: slide-right 650ms 400ms;
}

@keyframes slide-riht {
   0% {
       
       transform: translateX(-800px);
   }
   100% {
       
       transform: translateX(0)
   }
}

.quality__row {
   width: 100%;
   max-width: 1300px;
   display: flex;
   justify-content: space-between;
}

.quality__description {
   max-width: 50%;
   height: 100%;
   padding: 0 64px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-between;

}
.quality__screenshot--wrapper {
   max-width: 50%;
   padding-top: 64px;
}

.quality__screenshot {
   border: 2px solid rgba(0, 0, 0, 0.13);

}

.screenshot__blob {
   height: 100px;
   width: 100px;
      pointer-events: none;
      position: relative;
      right: -600px;
      top: -54px;
      z-index: -1;
   filter: color #6415FF;
      opacity: 0.8;
      position: absolute;
      
}

.filter__blue {
   filter: invert(31%) sepia(57%) saturate(2267%) hue-rotate(242deg) brightness(85%) contrast(97%);
}

.quality__para {
   padding-right: 45px;
   line-height: 2;
}

/* steps section*********************************************************

*/

#steps {
   padding-top: 200px;
   animation: slide-left 650ms 400ms;
}

@keyframes slide-left {
   0% {
       
       transform: translateX(100%);
   }
   100% {
       
       transform: translateX(0)
   }
}

.flatscreen__side {
   width: calc(100% / 2);
}



#quality {
   padding-bottom: 0;
}

.container {
   height: 100%;
   margin: 0 auto;
}

.row__steps--container {
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   display: flex;
   padding: 0;
   padding-left: 72px;
}

.steps__description {
   max-width: 100%;
   padding-left: 64px;
}
.steps__para {
   width: 100%;
   max-width: 400px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: start;
   padding-left: 40px;
}
.flatscreen__blob {
   height: 300px;
   width: 190px;
   pointer-events: none;
   position: relative;
   right: -300px;
   top: -154px;
   z-index: -1;
   filter: color #6415FF;
   opacity: 0.2;
   position: absolute;
}
.filter__blue {
   filter: invert(31%) sepia(57%) saturate(2267%) hue-rotate(242deg) brightness(85%) contrast(97%);
}

.steps__list {
   display: flex;
   justify-content: space-between;
   padding-top: 48px;
}

.steps__item {
   padding: 8px 24px;
}

.steps__instructions {
   padding-left: 24px;
}
.steps__number {
   opacity: 0.1;
}

/* values section************************************

*/

#values {
   display: flex;
   padding-top: 160px;
}

.values__container {
   width: 100%;
}

.values__row {
   max-width: 1300px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align:start;
   margin: 0 auto;
}

.values__description {
   width: 50%;
   display: flex;
   flex-direction: column;
   padding-right: 64px;
}

.values__sub-title {
   padding: 24px 0;
}

.values__para--wrapper {
   padding: 24px 0;
}

.values__iconDS {
   filter: invert(40%) sepia(21%) saturate(1671%) hue-rotate(78deg) brightness(93%) contrast(98%);
   
}

.values__iconSC {
   filter: invert(13%) sepia(26%) saturate(3710%) hue-rotate(334deg) brightness(111%) contrast(111%);
}

.icon {
   opacity: 0.5;
}

.icon__wrapper--ds {
   
   width: 32px;
   background-color: rgb(154 230 180);
   border-radius: 100%;
   text-align: center;
}
.icon__wrapper--sc {
   width: 32px;
   background-color: rgb(254 178 178);
   background-size: 100px;
   border-radius: 100%;
   text-align: center;
}

.values__diagram {
   width: 50%;
}

.sub__value--wrapper {
   display: flex;
   padding-top: 16px;
   padding-bottom: 40px;
}

.sub__value--top {
   display: flex;
}

.sub__values--para {
padding: 24px 24px 0 0;
}

/* 

pricing section *************************************************

*/


#pricing {
   padding: 160px 0;
   width: 100%;
}

.pricing__container {
   margin: 0 auto;
}

.pricing__heading {
   max-height: 100%;
}

.pricing__row {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.pricing {
   width: 100%;
   border-top: solid 8px   rgb(56, 178, 172);
   border-radius: 14px;

}
.pricing__red {
   width: 100%;
   border-top: solid 8px   rgb(178, 56, 62);
   border-radius: 14px;

}

.pricing__blue {
   width: 100%;
   border-radius: 14px;

}
.pricing__title {
   display: flex;
   justify-content: center;
   font-size: 36px;
}


.title {
   font-size: 56px;
   padding: 8px;
}

.pricing__para {
   display: flex;
   justify-content: center;
}

.para__text {
   width: 100%;
   max-width: 640px;
   padding-top: 8px;
   font-size: 18px;
   opacity: .8;
   text-align: center;
}

.pricing__subtitle {
   padding: 8px;
   display: flex;
   justify-content: center;
}

.pricing__body {
   width: 100%;
   padding-top: 64px;
   max-width: 1300px;
display: flex;
justify-content: space-around;
}

.price__divider1 {
   position: abslute;
   opacity: 0.2;
      width: 100%;
      max-width: 1300px;
      height: 2px;
      color: white;
      background-color: white;
      transform: translateY(-80px);

}

      
      .price__divider2 {
         position: abolute;
   opacity: 0.2;
   width: 100%;
   max-width: 1300px;
   height: 2px;
   color: white;
   background-color: white;
   transform: translateY(200px);
   
}

.personal__wrapper--1 {
   margin: 0 auto;
   width: 100%;

   display: flex;
   align-items: center;
   padding: 32px;
}
.personal__wrapper--2 {
   margin: 0 auto;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 32px;
}
.personal__wrapper--3 {
   margin: 0 auto;
   width: 100%;
   display: flex;
   align-items: center;
   padding: 32px;
}


.price1 {
   border-style: solid;
   border-top: solid 8px;
   border-color: rgba(0, 0, 0, 0.1);
   border-width: 2px;
   width: 100%;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   color: black !important;
}
.price2 {
   width: 100%;
   background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.price3 {
   border-style: solid;
   border-color: rgba(0, 0, 0, 0.1);
   border-width: 2px;
   width: 100%;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   
}


.pricing__amount {
   color: white;
   margin-bottom: 20;
   padding-top: 24px;
   
}
.pricing__amount--dark {
   line-height: 1;
   color: rgb(0, 0, 0);
   transform: translateY(64px);
   
}
.pricing__plan--details {
   line-height: 3;
   color: white;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 56;
   border-top: solid 2px rgba(148, 183, 216, 0.363);
}

.pricing__plan--details-dark {
   line-height: 3;
   color: black;
   width: 100%;
   padding-top: 40px;
   margin-top: 64px;
   margin-bottom: 40px;
   transform: translateY(10px);
   border-top: 2px solid rgba(128, 126, 126, 0.13);
}

.plan__details {
   
   font-size: 17px;
   line-height: 3;
   color: white;
   transform: translateY(96px);
}

/* .plan__details--para {
   position:absute;
transform: translateY(6px);
font-size: 17px;
   line-height: 3;
   color: white;
} */

.plan__details--para-dark {
   position:absute;
transform: translateY(6px);
font-size: 17px;
   line-height: 3;
   color: rgb(2, 2, 2);
}

.price__button {
   width: 100%;
   padding: 32px 0 24px 0;
   display: flex;
   justify-content: center;
   border-top: solid 2px rgba(128, 126, 126, 0.13);
}
.price__button--blue {
   width: 100%;
   padding: 32px 0 24px 0;
   display: flex;
   justify-content: center;
   border-top: solid 2px rgba(148, 183, 216, 0.363);
}

.green__gradient {
   width: 100%;
   width: 200px;
   height: 44px;
   background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
   border-radius: 24px;
   font-size: 16px;
   padding: 12px 0;
   text-align: center;
   border: none;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   }

   .red__gradient {
      width: 100%;
   width: 200px;
      height: 44px;
      background: linear-gradient(115deg, rgb(178, 56, 62) 0%, rgb(231, 167, 178) 100%);
      border-radius: 24px;
      font-size: 20px;
      padding: 12px 8px;
      text-align: center;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .white {
      width: 100%;
   width: 200px;
      height: 44px;
      background-color: white;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 700;
      padding: 12px 8px;
      text-align: center;
      border: none;
      color: #6415FF;
      display: flex;
      align-items: center;
      justify-content: center;
   }


   /* 
   
   footer section******************************************
   
    */

    #footer {
      width: 100%;
      
      
    }
    
    .footer__container {
      
      background-color: #6415FF;
      display: flex;
    }

    .footer__row {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    .footer__five--columns {
      padding-top: 88px;
      padding-bottom: 48px;
       width: 100%;
      margin: 0 auto;
      max-width: 1300px;
      display: flex;
      justify-content: space-between;
      z-index: 1;
    }

    .footer__column {
      line-height: 2;
      display: flex;
      flex-direction: column;
      color: white;
   }
   
   .footer__column--title {
      font-weight: 900;
      font-size: 16px;
      padding-bottom: 16px;
   }
   
   .column__links {
     display: flex;
     flex-direction: column;
   }

   /* column link animation **********************************
   
   */

   .column__link {
      color: white;
      text-decoration: none;
      position: relative;
      font-size: 12px;
      
   }

   .column__link::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: -5px;
      left: 0;
      background-color: #f5f3f8;
      transform: scale(0);
      transition: transform 400ms ease;
    }

    .column__link::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: -5;
      left: 0;
      background-color: #f6f4fa;
      transform: scale(0);
      transition: transform 300ms ease;
    }


    .column__link:hover::before {
      transform: scale(1);
      
    }

    .footer__divider {
      opacity: 0.2;
      width: 100%;
      max-width: 1300px;
      height: 1px;
      color: white;
      background-color: white;
    }

    .treact__footer {
      color: white
    }

    
    .footer__bottom {
      width: 100%;
      max-width: 1500px;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 96px;
      }
      
      .footer__logo--wrapper {
       width: calc(100% / 3);
      display: flex;
      height: 48px;
      align-items: center;
   }
   
   .logo__white {
      height: 36px;
    }

    .treact__footer {
      padding-left: 8px;
      font-size: 20px;
    }

    .footer__copyright {
      color: white;
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
   }
   
   
   .footer__socials {
      width: calc(100% / 3);
      display: flex;
      justify-content: end;
      align-items: center;
   }

   .social__wrapper--box {
      display: flex;
      padding: 8px;
      width: 48px;
      justify-content: end;
      align-items: center;
   }

   .social__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 32px;
      height: 32px;
      border-radius: 100%;
   }

/* footer blob **************************************

 */

 #footer { 
   margin: 0 auto;
 }

 .footer__blob--container {
   
   width: 100%;
   height: calc(100% - 400px);
   display: flex;
   position: abslute;
   justify-content: space-between;
   
 }

 g {
   position: abolute;
   opacity: 0.1;
   height: 360px;
   
 }

 .footer__blob {
   position: absoute;
   width: 50%;
   
   transform: translateX(-16px);
 }

 .footer__blob--2 {
   position: absolte;
   width: 50%;
   transform: traslateX(200px);
 }

.b1 {
   
   transform: translateX(200px);
}

.b2 {
   
   transform: translateX(1000px);
}


/* SCREEN OPTIMIZATION******************************** */

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@MEDIA (max-width: 768px) {



   .header__container {
      width: 100%;
      display: flex;
      padding-top: 8px;
   }
   
   .header__description {
      display: block;
      margin: 0 auto;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   .get__started--wrapper {
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
   }

   .email {
      font-size: 12px;
   }

   .customer__strip {
      padding-right: 0;
   }
   .header__get--started {
      max-width: 100%;
      display: block;
      margin: 0 auto;
   }

   h1, h2, h3, h4, h5, section__title {
      font-size: 26px;
   }

   .section__title {
      font-size: 26px;
   }
   
   .section__title--description {
      text-align: center;
      margin: 0 auto;
      padding: 24px 48px;
      
   }
   .header__logo {
      width: 50%;
      margin: 0 auto;
   }

   .logo__title {
      padding: 0;
   }

   .highlight {
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 24px 0;
   }

   .highlight__image, img {
      height: 32px;
   }
   .our__customers {
      z-index: 1;
      height: 72px;
   }

   .customer__strip {
      padding: 48px 0 32px;
   }

   .highlight__description {
      max-width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0 16px;
      margin: 0 auto;
   }

   .highlight__para {
      padding: 0 32px;
      text-align: center;
   }

   button {
      font-size: 12px;
   }

   .btn {
      font-size: 16px;
   }

   .footer__bottom {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }

   #quality {
      padding-top: 24px;
   }

   .quality__row {
      flex-direction: column;
   } 

   .quality__description, .quality__para {
      max-width: 100%;
      margin: 0 auto;
      padding: 16px 32px 64px;
      text-align: center;
      justify-content: center;
      align-items: center;
   }

   .quality__para {
      padding: 48px 16px;
   }

   .learn__more {
      max-width: 200px;
   }

   .quality__screenshot--wrapper, .flatscreen__side {
      max-width: 100%;
      padding: 0;
   }

   .flatscreen__side, .flatscreen_side {
      width: 100%;
      height: 160px;
   }


   .flatscreen__img {
      height: 100%;
      padding: 0 24px;
   }

   .quality__screenshot, .flatscreen__pic {
      height: 100%;
   }

   .quality__screenshots {
      padding: 0 24px;
   }

   #steps {
      padding-top: 64px;
   }

   .steps__container {
      width: 100%;
      display: flex;
   }

   .row__steps--container {
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      padding: 0;
   }

   .steps__description {
      max-width: 100%;
      padding: 32px;
      text-align: center;
   }

   .steps__para {
      padding: 0;
   }

   .steps__list {
      padding-top: 32px;
   }

   .steps__title {
      text-align: left;
   }

   .steps__number {
      max-width: 30%;
   }

   .steps__item, .steps__instructions {
      padding-left: 0;
   }

   #values {
      padding-top: 48px;
   }

   .values__row {
      display: flex;
      flex-direction: column;
   }

   .values__diagram {
      padding-top: 24px;
   }

   .values__description {
      width: 100%;
      padding: 0 32px;
      text-align: center;
   }

   .sub__value--wrapper {
      max-width: 100%;
      padding-top: 32px;
      padding-bottom: 64px;

   }

   .sub__value--top {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .sub {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
   }

   .sub__values--para {
      padding: 24px 24px 0;
   }

   .values__button {
      display: flex;
      justify-content: center;
   }

   .values__diagram {
      width: 100%;
   }

   .values__screenshot {
      height: 100%;
      padding: 64px;
   }

   #pricing {
      padding-top: 0;
      padding-bottom: 0;
   }

   .pricing__row {
      min-height: 2700px;
      max-width: 100%;
      justify-content: space-around;
      align-items: start;
      margin-bottom: -290px;
      margin-top: -100px;
      
   }

   .pricing__heading {
      min-height: auto;
   }

   .pricing__subtitle {
      text-align: center;
      
   }

   .pricing__para {
      width: 77%;
      margin: 0 auto;

      text-align: center;
   }

   .sub__pricing {
      font-size: 16px;
   }

   .pricing__title--phone {
      font-size: 32px;
      text-align: center;
   }

   .pricing__body {
      
      flex-direction: column;
      transform: translateY(-250px);
   }
  
   
   .personal__wrapper--1 {
      margin: 0 auto;
      width: 100%;
      display: flex;
      align-items: center;
   }

   .personal__wrapper--2 {
      margin: 0 auto;
   }

.pricing {
   width: 100%;
   
}

   .price1 {
      
   }

   .pricing__plan--details-dark {
      
   }
   .pricing__amount--dark {
      
   }
   .steps__item {
      padding-top: 0;
   }


   #footer {
      transform: translateY(500px);
   }

   .footer__five--columns {
flex-wrap: wrap;
justify-content: space-around;
padding: 0 24px;

   }

   .footer__column {
      width: 100px;
      max-width: 33%;
      text-align: center;
      padding-top: 24px;
   }

   .footer__bottom {
      max-width: 100%;
      padding: 16px 0 32px;
   }

   .footer__logo--wrapper {
      align-items: center;
      justify-content: center;
      width: 100%;
   }

   .logo__white {
      width: 40px;
      margin: 0;
   }

   .treact__footer {
      width: 100%;
      max-width: 128px;
   }

   .copyright, .footer__copyright {
      width: 100%;
      text-align: center;
      padding: 16px 0;
   }

   .footer__socials {
      align-items: center;
      text-align: center;
   }





}


/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {

   .btn__menu--brg {
      display: block;
   }

 .nav__links {
   display: none;
 }

 .highlight {
   width: 100%;
   margin-bottom: 24px;
 }

 .highlight:not(:last-child) {
   margin-bottom: 24px;
 }



}
